<div class="container" >
  <div style="text-align:center" >
    <h1>
    Welcome to {{title}}!!
    </h1>
  </div>
  &nbsp; &nbsp; || &nbsp; &nbsp;
  <a routerLink="/inventions"> Inventions </a> 
  &nbsp; &nbsp; || &nbsp; &nbsp;
  
  <hr>
  <!-- <app-inventions> </app-inventions> -->
  <router-outlet></router-outlet>
 </div>
