<div class="container" >
  <h2> Details </h2>
  <b> Id : </b> {{ invention.id }} <br>
  <b> Name : </b> {{ invention.name }} <br>
  <b> Inventor : </b> {{ invention.inventor }} <br>
  <b> Details : </b> {{ invention.details }} <br>
</div>
